<link rel="stylesheet" href="/static/content/style-profile.css">
<link rel="stylesheet" href="/static/content/style-button.css">
<link rel="stylesheet" type="text/css" href="/static/content/table_style.css" />

{% extends "template.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/content/style-button.css">
    <section class="section about-section gray-bg" id="about">
        <div class="container">

            <h4>{% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            </h4>
            <section class="title">
                <h1>{{ title }}</h1>
            </section>
            <section class="modi_tabella">
                {% if list %}
                    <form method="POST" action="/lista_appello">
                        <div style="overflow-x:auto;">
                            <table>
                                <thead>
                                <tr>
                                    <th><h1>Id:</h1></th>
                                    <th><h1>Aula:</h1></th>
                                    <th><h1>Data Inizio:</h1></th>
                                    <th><h1>Data Scadenza:</h1></th>
                                    <th><h1>Nome Prova:</h1></th>
                                    <th><h1></h1></th>
                                    <th><h1></h1></th>
                                    <th><h1></h1></th>
                                    <th><h1></h1></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in list %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.aula}}</td>
                                        <td>{{i.data_ora}}</td>
                                        <td>{{i.data_scad}}</td>
                                        <td>{{i.prova.nome}}</td>
                                        {% if ruolo == 'docente' %}
                                            <td><button class="but" type="submit" name="update" value="{{i.id}}">Modifica Appello</button></td>
                                            <td><button class="but" type="submit" name="cancel" value="{{i.id}}">Cancella Appello</button></td>
                                            <td><button class="but" type="submit" name="subscription" value="{{i.id}}">Visualizza Iscritti</button></td>
                                        {% elif ruolo == 'studente' %}
                                            <td><button class="but" type="submit" name="subscrib" value="{{i.id}}">Iscriviti</button></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                {% endif %}
            </section>
        </div>
    </section>
{% endblock %}