{% extends "form_temp.html" %}

{% block logo %}
    <h1>LOGIN</h1>
    <p>Inserisci le tue credenziali</p>
{% endblock %}

{% block accesso %}

<h2>{{ title }}</h2>

<link rel="stylesheet" href="/static/content/bootstrap.css">
<h4>{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
</h4>
<form action="{{ url_for('auth_bp.login') }}" method="POST">
    <div class="form-group">

        {{ form.email.label }}:
        {{ form.email(class_="form-control") }}
        <br />
        {{ form.password.label }}:
        {{ form.password(class_="form-control") }}

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<small>Vuoi registrarti?</small><a style="color: #932b2b" href="{{ url_for('auth_bp.signup') }}">&nbsp;Registrati</a>
{% endblock %}